#main-container {
  margin-top: 0.64rem;
}

#footer-container {
  height: 0.64rem;
  line-height: 0.64rem;
  margin: 0 auto;
  max-width: 14rem;

  text-align: center;
  background-color: #cecece;
  color: #ffffff;
}