#main-page {
  width: 3.75rem;
}

#main-container {
  margin-top: 0.6rem;
}

#footer-container {
  height: 0.6rem;
  line-height: 0.6rem;

  text-align: center;
  background-color: #cecece;
  color: #ffffff;
}

// 公共样式
.special-column {
  display: inline-block;
  color: #333333;
  font-size: 0.12rem;
  font-weight: 600;
  box-sizing: border-box;
  height: 0.12rem;
  border-bottom: 0.06rem solid #b4ff37;
}
